@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4" style="text-shadow: 2px 2px 4px; color:black; font-weight: bold;">Bienvenido a la tienda </h1>
    </div>

    <script>
        var titulo = document.getElementById("titulo");
        var colors = ["blue", "green", "purple", "black"]; // Colores para cambiar

        var index = 0;
        setInterval(function () {
            titulo.style.color = colors[index];
            index = (index + 1) % colors.length;
        }, 2000); // Cambiar cada 2 segundos (2000 milisegundos)
    </script>

    <div class="container text-align: center;" style="display: flex; justify-content: center; align-items: center; height: 50vh; margin: 0;">
        <div class="row">
            <div class="col-md-3">
                <div class="image-container">
                    <img src="https://www.processmaker.com/wp-content/uploads/2020/09/customer-onboarding.jpg" alt="Imagen 1" class="img-fluid" style="width: 100%; height: 100%;">
                </div>
                <a class="btn btn-primary btn-block custom-btn" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
            </div>
            <div class="col-md-3">
                <div class="image-container">
                    <img src="https://www.microtech.es/hubfs/Fotos%20blog/stock_fabrica.jpg" alt="Imagen 2" class="img-fluid" style="width: 100%; height: 100%;">
                </div>
                <a class="btn btn-primary btn-block custom-btn" asp-area="" asp-controller="Productoes" asp-action="Index">Productos</a>
            </div>
            <div class="col-md-3">
                <div class="image-container">
                    <img src="https://conceptodefinicion.de/wp-content/uploads/2014/02/Venta-2.jpg" alt="Imagen 3" class="img-fluid" style="width: 100%; height: 100%;">
                </div>
                <a class="btn btn-primary btn-block custom-btn" asp-area="" asp-controller="Facturas" asp-action="Index">Ventas</a>
            </div>
            <div class="col-md-3">
                <div class="image-container">
                    <img src="https://www.esic.edu/sites/default/files/rethink/ff01cba7-marketing-y-ventas-roi.jpg" alt="Imagen 4" class="img-fluid" style="width: 100%; height: 100%; border-radius:10px;">
                </div>
                <a class="btn btn-primary btn-block custom-btn" asp-area="" asp-controller="Reportes" asp-action="Index">Reportes</a>
            </div>
        </div>
    </div>

    <style>

    </style>


    <style>
        .custom-btn {
            background-color: #007bff; /* Color de fondo */
            color: white; /* Color de texto */
            border-radius: 10px; /* Borde redondeado */
            padding: 10px 20px; /* Espaciado interno */
            font-size: 18px; /* Tamaño de fuente */
            transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transición de color y transformación */
        }

            .custom-btn:hover {
                background-color: #0056b3; /* Color de fondo al pasar el mouse */
                color: white; /* Color de texto al pasar el mouse */
                transform: scale(1.1); /* Escala al pasar el mouse */
            }

        .custom-img {
            object-fit: cover;
        }

        .image-container {
            height: 200px; /* Establece una altura fija para el contenedor de la imagen */
        }
    </style>




</body>

@*    <div style="width:500px; margin:0 auto; background-color: gray; margin-top: 20px; margin-bottom: 20px;">
        <p class="text-center">
            En este sitio web podrás hacerte cliente y generar pedidos en nuestras tiendas.
            Encontrarás una gran variedad de productos, todos tus pedidos serán manejados por medio
            de una factura.
        </p>*@
@*</div>*@
@*</div>*@